* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0 auto;
	width: 70%;
	font-family: Comic;
	background-image: url('../images/bgbljig.gif');
	background-attachment: fixed;
	color: #FFFFFF;
}

table {
	width: 100%;
}

a {
	color: #FFFFFF;
	text-shadow: 1px 1px 1px #151515;
}

p {
	text-align: justify;
}

header, footer, section {
	display: block;
}

h1 {
	font-size: 26px;
	line-height: 40px;
	padding: 18px 0;
}

nav {
	/*    width:77%;*/
	height: 40px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: #555353;
	border: 1px solid #151515;
	/*    position:absolute;*/
}

nav ul {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	padding-left: 10px;
	/*    margin:0 auto;
        width:940px;*/
}

nav ul li {
	float: left;
}

nav ul li a {
	margin-right: 20px;
	display: block;
	line-height: 40px;
	background: url('../images/puzzle_20.png') no-repeat left center ;
	background-size: 20px 20px ;
	padding-left: 24px;
}

nav ul li a:hover {
	margin-right: 20px;
	display: block;
	line-height: 40px;
	background: url('../images/puzzle_alt_20.png') no-repeat left center ;
	background-size: 20px 20px ;
	padding-left: 24px;
}

#site_body {
	border: 0px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
}

#site_footer {
	background: #151515;
	border-top: 1px solid #555353;
	padding: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	text-align: right;
	color: #ffffff;
	font-size: 10px;
	width: 100%;
	margin-left: -10px;
	height: 24px;
}

#site_menu {
	margin-bottom: 5px;
	margin-top: 5px;
}

#site_header {
	background: #151515;
	border-top: 1px solid #555353;
	padding: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color: #ffffff;
	font-size: 50px;
}

#site_article_section {
	margin-left: 20px;
	margin-right: 20px;
}

#site_header img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.img_center {
	vertical-align: middle;
	margin-right: 3px;
}

.album_cell {
	vertical-align: top;
}

.album_table {
	border-spacing: 10px;
	border-collapse: separate;
}

img.displayed_center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #FFFFFF;
}

div.img {
	margin: 5px;
	padding: 5px;
	border: 0px solid #000000;
	height: auto;
	width: auto;
	float: left;
	text-align: center;
}

div.img img {
	display: inline;
	margin: 5px;
	border: 1px solid #000000;
}

div.img a:hover img {
	border: 1px solid #ffffff;
}

div.desc {
	text-align: center;
	font-weight: normal;
	width: 120px;
	margin: 5px;
}